.item {
    display: flex;
    align-items: center;
    color: #757575;
    cursor: pointer;
    p{
        padding: 6px 15px;
        margin: 0;
        font-size: 14px;
        font-weight: 600;
    }
}

.active {
    background-color: #f2f6f9;
}