.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #da2a1c; 
    padding: 0 20px; 
}
.header-bottom .img {
    width: 67px;
}
.header-bottom .img img {
    width: 100%;
}
.header_input {
    width: 450px;
    height: 43px;
}
.header_input input {
    height: 100%;
}
.header_right {

}
.header-bottom .header_icon {
    background-color: #404f5a;
    height: 28px;
}
.header_nav {
    color: #fff;
    font-size: 17px;
    line-height: 115px;
    text-decoration: none;
    font-weight: 700;
    padding: 0 10px;
    display: inline-block;
    letter-spacing: 1px;
    min-width: 100px;
}
.white {
    background-color: #ff8076;
    height: 7.9em;
    margin:  0;
}
.header_nav.action {
    background-color: #ffc476;
    color: #404f5a;
}
