
.li_nav_item {
    padding: 13px 0;
}
.li_nav_item {
    background-color: #565554;

}

.main_content .left{

    padding: 14px;
}
.main_content .right{
    border-left: 1px solid #ccc;
}
.main_content .title{
    text-align: start;
    text-transform: uppercase;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    border-bottom: 1px solid #807b7bde;
    padding-bottom: 8px;

}
.main_content .check_radio {
    padding: 10px 0;
}
.top_content {
    background-color: #4c4b4a;
}

.li_nav_item.action {
    background-color: #2a2525;
}
.nav_item {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}
.check_radio .radio_item {
    text-align: start;
}