
#Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(http://wlp.howizbiz.com/static/img/footerLogin.cf032540.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
#Login .container {
    width: 400px;
    padding: 34px;
    border-radius: 25px;
    box-shadow: rgba(253, 178, 206, 0.47) 0px 2px 20px;
}
.login_Img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_input {
    border-radius: 32px;
    padding: 10px 11px;
    border-color: rgba(0,0,0,.42);
    outline: rgb(104, 3, 3) ;
}
.Login_submit {
    width: 100%;
}
.login_Img {

}
.login_Img img{
    
}
.user {
    overflow: hidden;
}
.pass {
    overflow: hidden;
}





